@import '../../../assets/_master.css';
.saveGame {
    position: relative;
    color: var(--cream);
    width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .7fr 1fr .7fr;
    grid-template-areas:
      "title"
      "data"
      "button"
  }
 .saveGame-data{
  grid-area: data;
  display: flex;
  justify-content: center;
 }
.saveGame-title{
  grid-area: title;
}

.saveGame-button{ 
      display: flex;
      justify-content: center;
      align-items: flex-end;
      grid-area: button; 
    }
 .saveGame-icon{
   width: 50px;
   height: 50px;
 } 

 @media (max-width: 400px){
  .pause{
    width: 95%;
  }
 }
